= simple_form_for [@act, @effective_possession], {html: { class: 'form-horizontal' }} do |f|
  -if @effective_possession.errors.any?
    #error_explanation
      %h3.chip
        = "#{@effective_possession.errors.count} errores encontrados:"
        <i class="material-icons">close</i>
      %ul
        -@effective_possession.errors.full_messages.each do |msg|
          %li.chip.waves-effect.waves-light.btn-large
            =msg
            <i class="material-icons">close</i>

  .form-group
    =f.label :numero_acuerdo, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :numero_acuerdo, class: "form-control", placeholder: "Número de Acuerdo"
  .form-group
    =f.label :causante, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :causante, class: "form-control", placeholder: "Causante"
  .form-group
    =f.label :fecha_defuncion, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :fecha_defuncion, class: "form-control", html5: true
  .form-group
    =f.label :heredero, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :heredero, class: "form-control", placeholder: "Nombres y Apellidos del o los Herederos"
  .form-group
    =f.label :conyuge_sobreviviente, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :conyuge_sobreviviente, class: "form-control", placeholder: "Nombres y Apellidos del o la Cónyuge"
  
  .form-group
    .row.center-xs
      .col-xs-5
        = f.button :submit, class: "btn btn-raised btn-info btn-lg", value: "Guardar"
