= simple_form_for(@search, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-group
    =f.label :apellidos, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :apellidos, class: "form-control", placeholder: "Apellidos"
  .form-group
    =f.label :nombres, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :nombres, class: "form-control", placeholder: "Nombres"
  .form-group
    =f.label :identificacion, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :identificacion, class: "form-control", placeholder: "Identificación"
 
  .form-group
    .row.center-xs
      .col-xs-5
        = f.button :submit, class: "btn btn-raised btn-info btn-lg", value: "Buscar"