= simple_form_for(@search, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-group
    =f.label :repertorio, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :repertorio, class: "form-control", placeholder: "Repertorio"
  .form-group
    =f.label :inscripcion, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :inscripcion, class: "form-control", placeholder: "Inscripción"
 
  .form-group
    .row.center-xs
      .col-xs-5
        = f.button :submit, class: "btn btn-raised btn-info btn-lg", value: "Buscar"