= simple_form_for(@act, html: { class: 'form-horizontal' }) do |f|
  -if @act.errors.any?
    #error_explanation
      %h3.chip
        = "#{@act.errors.count} errores encontrados:"
        <i class="material-icons">close</i>
      %ul
        -@act.errors.full_messages.each do |msg|
          %li.chip.waves-effect.waves-light.btn-large
            =msg
            <i class="material-icons">close</i>

  .form-group
    =f.label :descripcion, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :descripcion, collection: @contracts, label_method: :descripcion, class: "form-control", placeholder: "Descripción"
  .form-group
    =f.label :especificacion, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :especificacion, class: "form-control", placeholder: "Especificación"
  .form-group
    =f.label :tipo, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :tipo, class: "form-control", collection: @type_contracts, label_method: :descripcion, placeholder: "Tipo"
  .form-group
    =f.label :libro, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :libro, collection: @books, label_method: :descripcion, class: "form-control", placeholder: "Especificación"
  .form-group
    =f.label :repertorio, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :repertorio, class: "form-control", placeholder: "Repertorio"
  .form-group
    =f.label :fecha_repertorio, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :fecha_repertorio, class: "form-control", placeholder: "Fecha de Repertorio", html5: true
  .form-group
    =f.label :inscripcion, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :inscripcion, class: "form-control", placeholder: "Número de Inscripción"
  .form-group
    =f.label :fecha_inscripcion, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :fecha_inscripcion, class: "form-control", placeholder: "Fecha de Inscripción", html5: true
  .form-group
    =f.label :cuantia, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :cuantia, class: "form-control", placeholder: "Valor de la Cuantía"
  .form-group
    =f.label :unidad, class: "col-xs-3 control-label"
    .col-xs-7
      = f.input_field :unidad, class: "form-control", placeholder: "Unidad"

  .form-group
    .row.center-xs
      .col-xs-5
        = f.button :submit, class: "btn btn-raised btn-info btn-lg", value: "Guardar"