=render "layouts/navbar"
.jumbotron
  .container.width-panel.posicion
    .row.height-panel.middle-xs
      .col-xs-2.fijo
        .panel.panel-default.height-panel
          .panel-body
            %ul.nav.nav-pills.nav-stacked{:style => "max-width: 300px;"}
              %li.active
                =link_to "inicio", root_path
              %li.dropdown
                %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
                  Inscripción
                  %span.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Nuevo", new_act_path
                  %li.divider
                  %li
                    =link_to "Ver", acts_path
              %li
                %a{:href => "javascript:void(0)"} Búsqueda
              %li.divider
              -if current_user
                %li
                  =link_to "Perfil", edit_user_registration_path
                %li
                  =link_to "Cerrar Sesión", destroy_user_session_path, method: :delete
      .col-xs-10.middle-xs.derecha
        .container.width-panel
          .panel.panel-primary
            .panel-heading            
              %h3.panel-title Inscripción: "#{@act.inscripcion}"
            .panel-body
              .table-responsive
                %table.table-striped.table-bordered.table-condensed.table-hover
                  %thead
                    %tr
                      %th Descripcion
                      %th Especificacion
                      %th Tipo
                      %th Libro
                      %th Repertorio
                      %th Fecha repertorio
                      %th Inscripcion
                      %th Fecha inscripcion
                      %th Cuantia
                      %th Unidad
                      %th
                      %th

                  %tbody
                    %tr
                      %td= @act.descripcion
                      %td= @act.especificacion
                      %td= @act.tipo
                      -@books.where(id: @act.libro).find_each do |book|
                        %td= book.descripcion
                      %td= @act.repertorio
                      %td= @act.fecha_repertorio
                      %td= @act.inscripcion
                      %td= @act.fecha_inscripcion
                      %td= @act.cuantia
                      %td= @act.unidad
                      %td= link_to 'Edit', edit_act_path(@act)
                      %td= link_to 'Destroy', @act, :method => :delete, :data => { :confirm => 'Are you sure?' }
          .row.center-xs
            %ul.nav.nav-pills
              %li
                = link_to 'Comparecientes', new_act_appearer_path(@act), class: "btn btn-success"
              %li
                = link_to 'Propiedades', new_act_property_path(@act), class: "btn btn-success"
              %li
                = link_to 'Gravámenes', new_act_assessment_path(@act), class: "btn btn-success"
              %li
                = link_to 'Entidades', new_act_document_path(@act), class: "btn btn-success"
              %li
                = link_to 'Marginaciones', new_act_marginalization_path(@act), class: "btn btn-success"
              %li
                = link_to 'Posesiones Efectivas', new_act_effective_possession_path(@act), class: "btn btn-success"
              %li
                = link_to 'Propiedades Horizontales', new_act_horizontal_property_path(@act), class: "btn btn-success"
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading            
                  %h3.panel-title Comparecientes
                .panel-body
                  .table-responsive
                    %table.table-striped.table-bordered.table-condensed.table-hover
                      %thead
                        %tr
                          %th Tipo persona
                          %th Razon social
                          %th Apellido
                          %th Nombre
                          %th Tipo interviniente
                          %th Calidad compareciente
                          %th Tipo identificacion
                          %th Identificacion
                          %th Estado civil
                          %th Apellido conyuge
                          %th Identificacion conyuge
                          %th Separacion bien
                          %th
                          %th

                      %tbody
                        - @act.appearer.each do |appearer|
                          %tr
                            %td= appearer.tipo_persona
                            %td= appearer.razon_social
                            %td= appearer.apellido
                            %td= appearer.nombre
                            %td= appearer.tipo_interviniente
                            %td= appearer.calidad_compareciente
                            %td= appearer.tipo_identificacion
                            %td= appearer.identificacion
                            %td= appearer.estado_civil
                            %td= appearer.apellido_conyuge
                            %td= appearer.identificacion_conyuge
                            %td= appearer.separacion_bien
                            %td= link_to 'Edit', edit_act_appearer_path(@act, appearer.id)
                            %td= link_to 'Destroy', act_appearer_path(@act, appearer.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading            
                  %h3.panel-title Propiedades
                .panel-body
                  .table-responsive
                    %table.table-striped.table-bordered.table-condensed.table-hover
                      %thead
                        %tr
                          %th Numero predio
                          %th Clave catastral
                          %th Descripcion
                          %th Provincia
                          %th Zona
                          %th Superficie
                          %th Ubicacion
                          %th Lindero
                          %th Parroquia
                          %th Canton
                          %th
                          %th

                      %tbody
                        - @act.property.each do |property|
                          %tr
                            %td= property.numero_predio
                            %td= property.clave_catastral
                            %td= property.descripcion
                            %td= property.provincia
                            %td= property.zona
                            %td= property.superficie
                            %td= property.ubicacion
                            %td= property.lindero
                            %td= property.parroquia
                            %td= property.canton
                            %td= link_to 'Edit', edit_act_property_path(@act, property.id)
                            %td= link_to 'Destroy', act_property_path(@act, property.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading            
                  %h3.panel-title Gravámenes
                .panel-body
                  .table-responsive
                    %table.table-striped.table-bordered.table-condensed.table-hover
                      %thead
                        %tr
                          %th Posee gravamen
                          %th Tipo gravamen
                          %th Genera gravamen
                          %th Tipo genera gravamen
                          %th Fecha constitucion
                          %th Fecha cancelacion
                          %th
                          %th

                      %tbody
                        - @act.assessment.each do |assessment|
                          %tr
                            %td= assessment.posee_gravamen
                            %td= assessment.tipo_gravamen
                            %td= assessment.genera_gravamen
                            %td= assessment.tipo_genera_gravamen
                            %td= assessment.fecha_constitucion
                            %td= assessment.fecha_cancelacion
                            %td= link_to 'Edit', edit_act_assessment_path(@act, assessment.id)
                            %td= link_to 'Destroy', act_assessment_path(@act, assessment.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading            
                  %h3.panel-title Entidades
                .panel-body
                  .table-responsive
                    %table.table-striped.table-bordered.table-condensed.table-hover
                      %thead
                        %tr
                          %th Notaria
                          %th Canton
                          %th Fecha escritura
                          %th
                          %th

                      %tbody
                        - @act.document.each do |document|
                          %tr
                            %td= document.notaria
                            %td= document.canton
                            %td= document.fecha_escritura
                            %td= link_to 'Edit', edit_act_document_path(@act, document.id)
                            %td= link_to 'Destroy', act_document_path(@act, document.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading            
                  %h3.panel-title Marginaciones
                .panel-body
                  .table-responsive
                    %table.table-striped.table-bordered.table-condensed.table-hover
                      %thead
                        %tr
                          %th Marginacion
                          %th Ultima modificacion
                          %th Canton registro
                          %th
                          %th

                      %tbody
                        - @act.marginalization.each do |marginalization|
                          %tr
                            %td= marginalization.marginacion
                            %td= marginalization.ultima_modificacion
                            %td= marginalization.canton_registro
                            %td= link_to 'Edit', edit_act_marginalization_path(@act, marginalization.id)
                            %td= link_to 'Destroy', act_marginalization_path(@act, marginalization.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading            
                  %h3.panel-title Posesiones Efectivas
                .panel-body
                  .table-responsive
                    %table.table-striped.table-bordered.table-condensed.table-hover
                      %thead
                        %tr
                          %th Numero acuerdo
                          %th Causante
                          %th Fecha defuncion
                          %th Heredero
                          %th Conyuge sobreviviente
                          %th
                          %th

                      %tbody
                        - @act.effective_possession.each do |effective_possession|
                          %tr
                            %td= effective_possession.numero_acuerdo
                            %td= effective_possession.causante
                            %td= effective_possession.fecha_defuncion
                            %td= effective_possession.heredero
                            %td= effective_possession.conyuge_sobreviviente
                            %td= link_to 'Edit', edit_act_effective_possession_path(@act, effective_possession.id)
                            %td= link_to 'Destroy', act_effective_possession_path(@act, effective_possession.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
          .row
            .col-xs-12
              .panel.panel-primary
                .panel-heading            
                  %h3.panel-title Propiedades Horizontales
                .panel-body
                  .table-responsive
                    %table.table-striped.table-bordered.table-condensed.table-hover
                      %thead
                        %tr
                          %th Propiedad
                          %th Alicuota
                          %th Expensas
                          %th Comparece menor
                          %th Nombres tutor
                          %th Fecha adjudicacion
                          %th Fecha acta notarial
                          %th
                          %th

                      %tbody
                        - @act.horizontal_property.each do |horizontal_property|
                          %tr
                            %td= horizontal_property.propiedad
                            %td= horizontal_property.alicuota
                            %td= horizontal_property.expensas
                            %td= horizontal_property.comparece_menor
                            %td= horizontal_property.nombres_tutor
                            %td= horizontal_property.fecha_adjudicacion
                            %td= horizontal_property.fecha_acta_notarial
                            %td= link_to 'Edit', edit_act_horizontal_property_path(@act, horizontal_property.id)
                            %td= link_to 'Destroy', act_horizontal_property_path(@act, horizontal_property.id), :method => :delete, :data => { :confirm => 'Are you sure?' }